@import "reset.css";
@import "general.css";

/* MAIN */

#app {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1200px;
}

h1 {
    margin: 20px 0;
}

.striked {
    text-decoration: line-through;
    font-weight: bold;
}

.todoListContainer {
    width: 100%;
    background-color: lightgray;
    border-radius: 20px;
    padding: 40px;
}

.todoListContainer > ul > li {
    list-style: none;
    margin-bottom: 20px;
}

.todoListContainer > ul > li > span {
    margin: 0 5px;
    cursor: pointer;
}

.container > form {
    margin: 20px 0;
}

form > input {
    padding: 10px;
    margin-right: 10px;
}

form > button {
    padding: 10px;
}